@charset "UTF-8";

body {
	background-image: url("../images/aozora.jpg");
	font-family: 'Sawarabi Mincho', sans-serif;
	color: #363636;
}

.wrapper {
	width: 80%;
	margin: 4rem auto;
	text-align: center;
	background-color: #b0c4de;
/*	color: #ffffff;*/
	border-radius: 20px;
	padding: 1rem;
}
a.btn_04 {
	display: block;
	text-align: center;
	text-decoration: none;
	width: 15%;
	margin: 1rem auto;
	padding: 12px 48px;
	font-size: 15px;
	border: 2px solid #00a497;
	background: #00a497;
	color: #363636;
	border-radius: 10px;
	transition: 0.5s;
}
a.btn_04:hover {
	background: #00998c;
}

.button {
  display       : inline-block;
  border-radius : 10px;          /* 角丸       */
  font-size     : 15px;        /* 文字サイズ */
  text-align    : center;      /* 文字位置   */
  cursor        : pointer;     /* カーソル   */
  padding       : 12px 48px;   /* 余白       */
  background    : #00a497;     /* 背景色     */
  color         : #363636;     /* 文字色     */
  line-height   : 1em;         /* 1行の高さ  */
  transition    : .3s;         /* なめらか変化 */
  border        : 2px solid #00a497;    /* 枠の指定 */
}

.button:hover {
  background    : #00998c;     /* 文字色     */
}

.txt {
	display: inline-block;
    padding: 0.5em;
    border: 1px solid #999;
    box-sizing: border-box;
    background: #f2f2f2;
    margin: 0.5em 0;
}
.table-scroll {
  overflow-x: auto;
}
.table_design10 {
	margin: auto;
  	border-collapse: collapse;
  	min-width: 700px;
  	font-weight: bold;
  	text-align: center;
}
.table_design10 th, .table_design10 td {
  padding: .5em 1em;
  border: 2px solid #00998c;
}
.table_design10 th {
  background: #00a497;
/*  color: #fff;*/
  border-right: 2px solid #00998c;
  border-top: 2px solid #00998c;
}
.table_design10 th:last-of-type {
  border-right: 2px solid #00998c;
}

span {
	font-size: 12px;
}

.registerForm{
	margin: auto;
}

.center {
	width: fit-content;
	margin: auto;
}
.registerTask {
	width: 60%;
	background-color: #fff;
	border-radius: 20px;
	margin: 1rem auto;
	padding: 1rem;
}
.taskRegister {
	margin:auto;
}
@media screen and (max-width: 600px) {
	a.btn_04 {
		font-size: 1rem;
		padding: 0.5rem;
		width: 70%;
		margin: 0.5rem auto;
	}
	.button {
		font-size: 1rem;
		padding: 0.5rem;
		width: 50%;
		margin: 0.5rem auto;
	}
	.table_design10 {
		width: 80%;
	}
	.registerTask {
		width: 90%;
	}
	th {
		font-size: 0.8rem;
	}
	h2 {
		font-size: 1.2rem;
	}
	h3 {
		font-size:1.05rem;
	}
}