@charset "UTF-8";

body {
	background-image: url("../images/haikei.jpg");
	font-family: 'Sawarabi Mincho', sans-serif;
}

.wrapper {
	width: 80%;
	margin: 4rem auto;
	text-align: center;
	background-color: #003333;
	color: #ffffff;
	border-radius: 20px;
	padding: 1rem;
}
a.btn_04 {
	display: block;
	text-align: center;
	text-decoration: none;
	width: 15%;
	margin: 1rem auto;
	padding: 12px 48px;
	font-size: 15px;
	border: 2px solid #008080;
	background: #008080;
	color: #fff;
	border-radius: 20px;
	transition: 0.5s;
}
a.btn_04:hover {
	color: #27acd9;
	background: #fff;
}

.button {
  display       : inline-block;
  border-radius : 20px;          /* 角丸       */
  font-size     : 15px;        /* 文字サイズ */
  text-align    : center;      /* 文字位置   */
  cursor        : pointer;     /* カーソル   */
  padding       : 12px 48px;   /* 余白       */
  background    : #008080;     /* 背景色     */
  color         : #ffffff;     /* 文字色     */
  line-height   : 1em;         /* 1行の高さ  */
  transition    : .3s;         /* なめらか変化 */
  border        : 2px solid #008080;    /* 枠の指定 */
}

.button:hover {
  color         : #6666ff;     /* 背景色     */
  background    : #ffffff;     /* 文字色     */
}

.txt {
    display: inline-block;
    width: 20%;
    padding: 0.5em;
    border: 1px solid #999;
    box-sizing: border-box;
    background: #f2f2f2;
    margin: 0.5em 0;
}
